<h1>Login</h1>
<p style="color:red;">
<% if (messages.error) { %>
    <%= messages.error %>
<% } %></p>
<form action="/login" method="POST">
    <div>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" 
        required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" 
        required>
    </div>
    <button type="submit">Login</button>
</form>

<a href="/register">Do not have an account?You can register now</a>